---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=09OO0xIEaTn80PzOGZhm5e5kHY3qocvC&location=Dallas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 22:37:05 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Dallas"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Dallas","adminArea5Type":"City","adminArea4":"Dallas
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040340","unknownInput":"","type":"s","latLng":{"lat":32.777977,"lng":-96.796215},"displayLatLng":{"lat":32.777977,"lng":-96.796215},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=09OO0xIEaTn80PzOGZhm5e5kHY3qocvC&type=map&size=225,160&locations=32.777977,-96.796215|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1375639813"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Dallas","adminArea5Type":"City","adminArea4":"Luzerne
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=15ea9bac05d8d237dbd8f5878a05c0db&exclude=minutely,%20alerts&lat=32.777977&lon=-96.796215&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.778,"lon":-96.7962,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619303826,"sunrise":1619264804,"sunset":1619312606,"temp":67.73,"feels_like":66.83,"pressure":1015,"humidity":56,"dew_point":51.49,"uvi":1.29,"clouds":40,"visibility":10000,"wind_speed":13.8,"wind_deg":350,"wind_gust":23.02,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1619301600,"temp":68.5,"feels_like":67.64,"pressure":1015,"humidity":55,"dew_point":51.73,"uvi":3.02,"clouds":44,"visibility":10000,"wind_speed":11.41,"wind_deg":359,"wind_gust":13.47,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1619305200,"temp":67.73,"feels_like":66.83,"pressure":1015,"humidity":56,"dew_point":51.49,"uvi":1.29,"clouds":40,"visibility":10000,"wind_speed":10.65,"wind_deg":4,"wind_gust":12.68,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1619308800,"temp":68.04,"feels_like":67.23,"pressure":1015,"humidity":57,"dew_point":52.25,"uvi":0.36,"clouds":42,"visibility":10000,"wind_speed":10.47,"wind_deg":16,"wind_gust":11.77,"weather":[{"id"[...]
