---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?orientation=landscape&per_page=1&query=Dallas,%20landscape
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 563492ad6f91700001000001c8ce8de3332e40be9cdb1073b228da99
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19985'
      X-Ratelimit-Reset:
      - '1621889502'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":1,"photos":[{"id":612936,"width":6016,"height":4016,"url":"https://www.pexels.com/photo/couple-kissing-612936/","photographer":"Quintin
        Gellar","photographer_url":"https://www.pexels.com/@quintingellar","photographer_id":99238,"avg_color":"#BAA990","src":{"original":"https://images.pexels.com/photos/612936/pexels-photo-612936.jpeg","large2x":"https://images.pexels.com/photos/612936/pexels-photo-612936.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/612936/pexels-photo-612936.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/612936/pexels-photo-612936.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/612936/pexels-photo-612936.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/612936/pexels-photo-612936.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/612936/pexels-photo-612936.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/612936/pexels-photo-612936.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false}],"total_results":8000,"next_page":"https://api.pexels.com/v1/search/?orientation=landscape\u0026page=2\u0026per_page=1\u0026query=Dallas%2C+landscape"}'
  recorded_at: Sun, 25 Apr 2021 17:55:51 GMT
recorded_with: VCR 6.0.0
