---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=09OO0xIEaTn80PzOGZhm5e5kHY3qocvC&location=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 22:37:06 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=09OO0xIEaTn80PzOGZhm5e5kHY3qocvC&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1380540850"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX"[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=15ea9bac05d8d237dbd8f5878a05c0db&exclude=minutely,%20alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619303826,"sunrise":1619266137,"sunset":1619315203,"temp":65.64,"feels_like":62.74,"pressure":1004,"humidity":18,"dew_point":22.28,"uvi":1.59,"clouds":99,"visibility":10000,"wind_speed":4.97,"wind_deg":60,"wind_gust":8.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619301600,"temp":65.61,"feels_like":62.67,"pressure":1004,"humidity":17,"dew_point":21.06,"uvi":2.96,"clouds":99,"visibility":10000,"wind_speed":4.88,"wind_deg":64,"wind_gust":6.51,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619305200,"temp":65.64,"feels_like":62.74,"pressure":1004,"humidity":18,"dew_point":22.28,"uvi":1.59,"clouds":99,"visibility":10000,"wind_speed":4.97,"wind_deg":60,"wind_gust":8.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619308800,"temp":65.57,"feels_like":62.67,"pressure":1004,"humidity":18,"dew_point":22.23,"uvi":0.63,"clouds":99,"visibility":10000,"wind_speed":6.64,"wind_deg":64,"wind_gust":9.46,"weather":[{"id":804[...]
