---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=09OO0xIEaTn80PzOGZhm5e5kHY3qocvC&location=Stevens%20Point
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 22:37:05 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Stevens
        Point"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Stevens
        Point","adminArea5Type":"City","adminArea4":"Portage County","adminArea4Type":"County","adminArea3":"WI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282027679","unknownInput":"","type":"s","latLng":{"lat":44.523544,"lng":-89.569496},"displayLatLng":{"lat":44.523544,"lng":-89.569496},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=09OO0xIEaTn80PzOGZhm5e5kHY3qocvC&type=map&size=225,160&locations=44.523544,-89.569496|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1861110605"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Stevens
        Point","adminArea5Type":"City","adminArea4":"Susquehanna County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"283368642","unknownInput":"","type":"s","latLng":{"lat":41.959999,"lng":-75.523598},"displayLatLng":{"lat":41.959999,"lng":-75.523598},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=09OO0xIEaTn80PzOGZhm5e5kHY3qocvC&type=map&size=225,160&locations=41.959999,-75.523598|marker-sm-50318A-2&scalebar=true&zoom=12&rand=1930701748"}]}]}'
  recorded_at: Sat, 24 Apr 2021 22:37:05 GMT
recorded_with: VCR 6.0.0
